<%= form_with model: [post, post_comment], local: false do |f| %>
    <div class="form-inline my-3">
      <%= f.text_area :comment, placeholder: "コメントを入力して下さい", class: "form-control col-6 new-comment" %>
      <%= f.submit "送信", class: "btn btn-primary ml-2" %>
    </div>
  <% end %>