<div class="container mt-3">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'beautiful-home.jpg', class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'living-room.jpg', class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'kitchen.jpg', class: "d-block w-100" %>
    </div>
  </div>
</div>
    <h1>シェアハウスの日常を投稿しよう！</h1>
    <p>ShareTalkはシェアハウスをしている人たちのSNSサイトです</p>
  </div>
</div>
