<div class="container">
  <h2 class="mt-3 no-wrap font-size"><%= @user.name %> のフォロワーユーザー <em>(<%= @user.followers.count %>人)</em></h2>
  <%= render 'follow_list', users: @users %>
  <%= paginate @users %>
</div>