@import '~bootstrap/scss/bootstrap';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$cWhite: white;
$cBlack: black;
$cGreen: #008000;
$cOrange: #efa04c;
$cLightBlue: lightblue;
$cBlue: #0000ff;
$cYellow: #ff6;
$cLime: #00ff00;

.btns {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  font-weight: 600;
  transition: all 0.3s;

  &.cover-3d {
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    perspective: 300px;

    & span {
      display: inline-block;
      transform: translateZ(20px);

    }

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $cGreen;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateX(90deg);
      transition: all 0.3s;
      transform-origin: top center;
      z-index: -1;
      opacity: 0;
    }

    &:hover {
      color: $cWhite;

      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }
  
  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    & .bg-blue {
     display: inline-block;
     width: 100%;
     height: 100%;
     background-color: $cBlue;
     position: absolute;
     top: 0;
     left: 0;
     transform: translateX(-100%);
     transition: transform 0.3s;
     z-index: -1;
    }
    
    & .bg-lime {
      @extend .bg-blue;
      background-color: $cLime;
    }
    
    &:hover {
      color: $cWhite;
      
      & span {
          transform: none;
      }
    }
  }
}

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

.top_heading {
  background: linear-gradient(transparent 60%, $cYellow 60%);
  display: inline-block;
}

.cards {
  
  & .card_items {
    
    &:hover {
      transform: scale(1.2); 
      opacity: 0.7;
      cursor: default;
    }
  }
}

.flash {
  color: $cWhite;
  text-align: center;
}

.notice {
  background-color: $cLightBlue;
}

.alert {
  background-color: $cOrange;
  padding: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  position: inherit;
}

.top-img {
  height: 600px;
  object-fit: cover;
}

.user_profile {
  border-radius: 10px;
}

.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

.footer_fixed {
min-height: 100vh;
position: relative;
padding-bottom: 100px;
box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.posts {
  
  &:hover {
    opacity: 0.7;
  }
}

table {
  table-layout: fixed;
}

.introduction {
  width: 50%;
}

.my_chat {
  text-align: left;
}

.you_chat {
  text-align: right;
}

.n-circle {
  color: $cOrange;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 100%;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

#tab-menu li:hover {
  opacity: 0.7;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background-color: $cWhite;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}