@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kaisei+Opti&family=Yomogi&family=Zen+Kaku+Gothic+New:wght@300&family=Zen+Kurenaido&display=swap');
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$cWhite: white;
$cBlack: black;
$cSession_btn: #008000;
$cOrange: #efa04c;
$cLightBlue: lightblue;
$cBlue: #0000ff;
$cYellow: #ff6;
$cChat: #00ff00;
$cOceanblue: #e4fcff;
$cTurquoise: #1dc1d6;
$cAquamarine: #00BCD4;
$cDarkcyan: #008b8b;
$cGold: #ffd700;
$cGray: #5d627b;
$cBoard: #114400;
$cBoard-border: #a60;
$cGradation-left: #1E00FF;
$cGradation-right: #05FBFF;

.btns {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  font-weight: 600;
  transition: all 0.3s;

  &.cover-3d {
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    perspective: 300px;

    & span {
      display: inline-block;
      transform: translateZ(20px);

    }

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $cSession_btn;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateX(90deg);
      transition: all 0.3s;
      transform-origin: top center;
      z-index: -1;
      opacity: 0;
    }

    &:hover {
      color: $cWhite;

      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }
  
  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    & .bg-blue {
     display: inline-block;
     width: 100%;
     height: 100%;
     background-color: $cBlue;
     position: absolute;
     top: 0;
     left: 0;
     transform: translateX(-100%);
     transition: transform 0.3s;
     z-index: -1;
    }
    
    & .bg-lime {
      @extend .bg-blue;
      background-color: $cChat;
    }
    
    & .bg-darkcyan {
      @extend .bg-blue;
      background-color: $cDarkcyan;
    }
    
    & .bg-gold {
      @extend .bg-blue;
      background-color: $cGold;
    }
    
    &:hover {
      color: $cWhite;
      
      & span {
          transform: none;
      }
    }
  }
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  outline: none !important;

  & > span {
    background-color: $cBlack;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: transform 0.7s;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-open {

  & .hamburger-menu {
    & > span {
      background-color: $cWhite;
      
      &:nth-child(1) {
        transition-delay: 90ms;
        transform: translateY(11px) rotate(135deg);
      }
      
      &:nth-child(2) {
        transition-delay: 0s;
        transform: translateX(-18px) scaleX(0);
      }
      
      &:nth-child(3) {
        transition-delay: 180ms;
        transform: translateY(-11px) rotate(-135deg);
      }
    }
  }
}

.three-dot-spinner {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $cWhite;
    z-index: 9999;

    & div{
      margin-top: 50vh;
      display: inline-block;
      width: 60px;
      height: 60px;
      background-color: $cBlack;
      border-radius: 50%;
      animation: sk-bouncedelay 1.4s infinite;
    }

    & .bounce1 {
      animation-delay: -0.32s;
    }

    & .bounce2 {
      animation-delay: -0.16s;
    }
}

@keyframes sk-bouncedelay {
    0% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
    80% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
}

header, footer {
  background: linear-gradient(to right, $cGradation-left, $cGradation-right);
}

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

.font {
  font-family: 'Yomogi', cursive;
}

.font-init {
  font-family: initial;
}

.linear-gradient {
  background: linear-gradient(transparent 60%, $cYellow 60%);
  display: inline-block;
}
  
.card_items {
  
  &:hover {
    transform: scale(1.2);
    cursor: default;
    color: $cGold;
    font-family: 'Yomogi', cursive;
  }
}

.flash {
  color: $cWhite;
  text-align: center;
}

.notice {
  background-color: $cLightBlue;
}

.alert {
  background-color: $cOrange;
  padding: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  position: inherit;
}

.error_messages {
  background-color: $cOrange;
  padding: 5px 10px;
  border-radius: 10px;
  
}

.top-img {
  height: 600px;
  object-fit: cover;
}

.heading {
  border: dashed 3px $cBlack;
  display: inline-block;
  padding: 2px;
  margin-top: 10px;
}

.registration-form {
  border-top: solid 5px $cGray;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.admin-session {
  border: double 6px $cAquamarine;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.card {
  background: $cOceanblue;
  border-top: solid 6px $cTurquoise;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.admin-user-introduction {
  overflow: auto;
  border: 3px solid $cBlack;
  border-radius: 10px;
}

.simple_post {
  border: 5px solid $cBlack;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.user_profile {
  border-radius: 10px;
}

.user_introduction {
  border: 3px solid $cBlack;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

.footer_fixed {
min-height: 100vh;
position: relative;
padding-bottom: 100px;
box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.posts {
  
  &:hover {
    opacity: 0.7;
  }
}

table {
  table-layout: fixed;
  
  & td {
    overflow-wrap : break-word;
  }
}

.post_body {
  overflow-wrap: break-word;
  border: dashed 2px $cBlue;
  border-radius: 5px;
  margin: 5px 0;
  padding: 8px;
  color: $cBlack;
}

.board {
  background-color: $cBoard;
  margin: 10px 0;
  padding: 15px;
  border: 9px solid $cBoard-border;
  border-radius: 3px;
  color: $cWhite;
  box-shadow: 2px 2px 4px $cGray, 2px 2px 2px $cBlack inset;
  text-shadow: 0px 0px 1px $cBlack;
}

.answers {
  background-color: $cBoard;
  border: solid 3px $cBoard-border;
  padding: 8px;
  color: $cWhite;
}

.board-rank {
  background-color: $cGold;
  display: inline-block;
  padding: 3px;
  margin-top: 20px;
  font-weight: bold;
}

.btn-border {
  border: 3px solid $cLightBlue;
}

.introduction {
  width: 50%;
}

.my_chat {
  text-align: left;
}

.you_chat {
  text-align: right;
}

.n-circle {
  color: $cOrange;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

#tab-menu li:hover {
  opacity: 0.7;
}

#tab-menu li a {
  color: $cWhite;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: $cBlack;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background-color: $cWhite;
  color: $cBlack;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  border-top: none;
}

#tab-contents p {
  color: $cBlack;
  line-height: 2.5;
}

@media screen and (max-width: 425px) {
  .share-top {
    font-size: 18px;
    font-weight: bold;
  }
  
  .share-board {
    font-size: 10px;
    background: none;
  }
  
  .img {
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
  }
  
  .no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .font-size {
    font-size: 10px;
  }
  
  .post-new {
    font-size: 11px;
  }
  
  .user_profile {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  .hidden {
    text-overflow: hidden;
  }
}