@import '~bootstrap/scss/bootstrap';

$cWhite: white;
$cBlack: black;
$cGreen: #008000;

.btns {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  font-weight: 600;
  transition: all 0.3s;

  &.cover-3d {
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    perspective: 300px;

    & span {
      display: inline-block;
      transform: translateZ(20px);

    }

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $cGreen;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateX(90deg);
      transition: all 0.3s;
      transform-origin: top center;
      z-index: -1;
      opacity: 0;
    }

    &:hover {
      color: $cWhite;

      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }
}

.posts:hover {
  opacity: 0.7;
}

.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 100%;
   box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

#tab-menu li:hover {
  opacity: 0.7;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background-color: $cWhite;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  // border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}