<div class="container">
  <h2>投稿編集</h2>
  <%= form_with model: @post do |f| %>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.submit '保存' %>
  <% end %>
</div>