<div classs="container">
  <h2 class="text-center my-3">通知</h2>
  <% if @notifications.exists? %>
    <%= render partial: "notification", collection: @notifications %>
    <div class="offset-md-2"><%= paginate @notifications %></div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>