<% if error.errors.any? %>
  <p><em><%= error.errors.count %>件のエラーが発生しました</em></p>
  <ul>
    <% error.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>